/*
CSS to style the enterprises list page relevant to all platforms goes here
*/

.text {
    font-size: 17;
    vertical-align: middle;
    margin: 10;
    color: #212121;
} /* end text */

.text-head {
    font-size: 17;
    font-weight: bold;
    margin: 10;
    color: #212121;
} /* end text-head */

.view-all {
    padding: 2;
    text-align: center;
    color: #212121;
}

.view-all-container {
    border-bottom-width: 1px;
    border-bottom-color: #B3B3B3
}