/*
CSS to style the enterprises list page relevant to all platforms goes here
*/

.text {
    font-size: 17;
    vertical-align: middle;
    margin: 10;
    color: #212121;
} /* end text */

.sml-txt-box {
    width: 100;
} /* end sml-txt-box */

.sml-btn {
    width: 80;
} /* end sml-btn */

.bck-grnd {
    background-color: #F8F7F2;
} /* end bck-grnd*/

.end-col {
    background-color: #fafafa;
} /* end ent-col*/

.n-dwn-txt {
    font-size: 17;
    vertical-align: middle;
    margin: 10;
    color: #9B9B9B;
} /* end n-dwn-txt */

.listItemSwipeGridLayout {
    background-color: red;
}

.delete {
    background-color: red;
    padding: 16;
}

.drawerStackLayout {
    background-color: #ECEFF1;
}

.drawerTitleStackLayout {
    height: 56;
    text-align: center;
    vertical-align: center;
    background-color: #CFD8DC;
}

.drawerLabel {
    padding: 10;
}
