<GridLayout rows="*, auto, *">
    <StackLayout row="0" orientation="horizontal" horizontalAlignment="center" width="100%">
            <Image src="{{ selectedMedia.url }}" stretch="aspectFill"></Image> <!-- Won't always be an image -->
    </StackLayout>
    <StackLayout row="1" horizontalAlignment="center" width="100%">
        <StackLayout orientation="horizontal" *ngIf="isDataAvailable">
            <ScrollView orientation="horizontal" class="menuBar" *ngFor="let item of place.mediaItems; let i = index;">
                <StackLayout [ngSwitch]="item.mediaItemType" class="mediaButton" (tap)="selectMedia(i)">
                    <GridLayout *ngSwitchCase="'1'">
                        <Image src="res://ic_photo_camera_black_24dp" stretch="none" horizontalAlignment="center" verticalAlignment="center"></Image>
                    </GridLayout>
                    <GridLayout *ngSwitchCase="'2'">
                        <Image src="res://ic_videocam_black_24dp" stretch="none" horizontalAlignment="center" verticalAlignment="center"></Image>
                    </GridLayout>
                    <GridLayout *ngSwitchCase="'3'">
                        <Image src="res://ic_mic_black_24dp" stretch="none" horizontalAlignment="center" verticalAlignment="center"></Image>
                    </GridLayout>
                </StackLayout>
            </ScrollView>
        </StackLayout>
    </StackLayout>
    <StackLayout row="2" orientation="horizontal" horizontalAlignment="left" width="100%">
        <ScrollView>
            <Label text="{{ place.description }}"></Label> <!-- place description -->
        </ScrollView>     
    </StackLayout>
</GridLayout>
